body {
    font-family: monospace;
    background-color: #717568;
}

.container {
    text-align: center;
    background-color: #E1F4CB;
    width: 500px;
    margin: 0 auto;
    margin-top: 5rem;
    border: 5px solid #BBC5AA;
    padding: 2rem;
}

#todoList {
    list-style: none;
    padding: 0;
}

#todoInput {
    display: block;
    width: 100%;
    height: 1.5rem;
    border: 4px solid #BBC5AA
}

#btnAdd {
    margin-top: 1rem;
    padding: .8rem 1.6rem;
    font-size: large;
    text-transform: uppercase;
    font-family: monospace;
    background-color: #D5C7BC;
    border: 2px solid #BBC5AA;
}

.todo-list-item {
    padding: 0.5rem 0;
    background-color: #272932;
    margin: .2rem 0;
    color: white;
}

.completed {
    text-decoration: line-through;
}